
@tailwind base;

@tailwind components;
 
@tailwind utilities;

body {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));

  --tw-gradient-from: #000;
  --tw-gradient-to: rgb(0 0 0 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

  --tw-gradient-to: rgb(30 58 138 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), #1e3a8a, var(--tw-gradient-to);
  
  --tw-gradient-to: #000;
}

body > div > div {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

a {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  /* font-weight: 600; */
}

